<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>

<body>
    <h1>Welcome to url shortener</h1>
    <form method="POST" action="/url">
        <label for="Url">Enter your url</label>
        <input 
        type="text"
        name="url">
        <button>Genrate</button>
    </form>
</body>

</html>